body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(241, 246, 243);
    min-width: 200px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    text-align: center;
    font-size: x-large;
}
h2 {
    border-bottom: solid 1px lightgray;
    border-color: rgb(196, 194, 194);
    font-size: medium;
}

form div {
    margin: 0.8rem 0;
}

input {
    margin-top: 0.2rem;
    box-sizing: border-box;
    padding: 0.3rem;
}

.income-expense {
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

.savings h2, .income-expense h2 {
border: none;
}

.income-expense div {
    text-align: center;
    width: 50%;
    padding: 1rem;
}

.income-expense div > *, .savings > * {
    margin: 0 auto;
}

.savings {
    padding-bottom:  1rem;
}

#total-savings {
    font-size: xx-large;
}

input, button, li {
    width: 100%;
    border: solid 1px lightgrey;
}

#quantity {
    padding-right: 0;
}

#add-transaction {
    background-color: rgb(180, 163, 235);
    border-style: initial;
    color: white;
    display: inline-block;
    height: 2rem;
}

#add-transaction:hover {
    background-color: rgb(119, 96, 193);
}


hr {
    width: 0.1rem;
    border: none;
    background-color: lightgrey;
}

.expense p {
    color: rgb(200, 60, 60);
}

.income p {
    color: rgb(24, 163, 96);
}


ul {
    list-style: none;
    padding-left: 0;
    background-color: rgb(24, 163, 96);
    margin: 0.2rem;
}

li {
    display: flex;
    background-color: white;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

li > p {
    margin: 0.1rem 0.5rem;
    font-size: small;
    padding: 0.2rem ;

}


